# ---- Python ----
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# dotenv files (секреты)
.env
*.env

# Build artifacts
build/
dist/
*.egg-info/

# Airflow local files (если появятся)
airflow/airflow.db
airflow/airflow-webserver.pid
logs/

# Temporary
*.tmp
*.temp